<%= simple_form_for [:admin, @page], validate: true do |f| %>
  <div class="row">
    <div class="col-sm-6">
      <%= f.input :image,as: :image_preview,
                  :label=>'前导图片',
                  :preview_version=>:small,
                  :change_preview=>true,
                  :wrapper=>:image_preview,
                  :input_html=>{:accept=>"image/png,image/gif,image/jpeg,image/jpg"},
                  :validate=>false %>
      <%= f.input :name, :label=>'名称' %>
      <%= f.input :scope, :collection=> Page.page_templates, :label=>'模板'  %>
      <%= f.input :content, :label=>'内容' %>
      <%= f.submit '保存', :class=>'btn btn-success btn-sm', 'data-disable-width'=>'请稍后...' %>
    </div>
  </div>
<% end %>