<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= admin_root_path %>"> <span class="text-danger"><%=Setting['site_name'] %></span> 控制台</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li ><a href="<%= root_path %>" target="_blank"  >网站首页</a></li>
        <li ><a href="<%= admin_templates_path %>" >模板</a></li>
        <li ><a href="<%= admin_pages_path %>" >单页面</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-gears"></i> 系统设置 <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="<%= admin_settings_path %>">系统参数</a></li>
            <li><a href="<%= admin_data_backups_path %>">数据库备份</a></li>
            <li><a href="<%= admin_exception_logs_path %>">系统错误日志</a></li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user-circle"></i> <%= current_admin.name %><span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to '修改管理员信息', edit_admin_admin_path(current_admin) %></li>
            <li class="divider"></li>
            <li><a href="#">管理员</a></li>
            <li class="divider"></li>
            <li><a href="<%= admin_logout_path %>">退出登录</a></li>
          </ul>
        </li>
      </ul>


    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>